h1 {
    /* Seus estilos mágicos aqui */
}


<p class="texto-magico">Este é um parágrafo mágico.</p>

.texto-magico {
    /* Seus estilos mágicos aqui */
}

<div id="cabecalho">Este é o cabeçalho mágico.</div>

#cabecalho {
    /* Seus estilos mágicos aqui */
}

h1 {
    font-size: 36px;
    color: #800080; /* Roxo */
}

.texto-magico {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #008080; /* Verde-azulado */
}

#cabecalho {
    background-color: #333; /* Cinza escuro */
    color: #fff; /* Branco */
    padding: 10px;
}
